/*** Login css**/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.login-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h1 {
    margin-bottom: 20px;
}
.login-container input[type="email"],
.login-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
.login-container a {
    display: block;
    margin-top: 10px;
    color: #1f75ff;
    text-decoration: none;
}

/*** Sign up css**/

.signup-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup-container h1 {
    margin-bottom: 20px;
}
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-container button {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}
.signup-container a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
